#root {
  box-sizing: border-box;
  text-align: center;
}

h1 {
  padding-top: 50px;
}

h5 {
  padding: 30px;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
}

.categories-nav-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.search-container {
  display: flex;
  margin-top: 10px;
}

.products-list-container {
  margin: auto;
}

.products-list {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 250px;
  margin-left: 250px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.product:hover img{
  transform: scale(1.1, 1.1);
  background-color: #c7c1c1;
}

.products-list b {
  margin-top: 10px;
  font-size: 18px;
  color: #007ace;
}

.products-list p {
  color: black;
}

.product {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.product img {
  width: 200px;
  height: 180px;
}

.product-detail {
  transition: all 1s;
  margin-top: 50px;
}

.product-detail img {
  height: 400px;
  width: 400px;
}

.product-detail-imgs Button {
  margin: 0 150px 0 150px;
}

.related-products-title {
  margin-top: 100px;
}

.related-products-list {
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: center;
}

.related-products-list li {
  margin: 20px 60px 20px 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.related-products-list li img {
  width: 150px;
  height: 150px;
}

.purchase-products-list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
}

.purchase-products-list li {
  width: 250px;
  height: 150px;
  margin: 20px;
  cursor: pointer;
}

.add-to-cart-btn {
  margin: 10px;
}

.checkout-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 700px;
}

.checkout-container h3 {
  text-align: center;
}

.checkout-product-list {
  display: flex;
  flex-direction: column;
}

.checkout-product-list li img {
  width: 50px;
  height: 100px;
  margin: 30px;
}

.checkout-product-list li {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 500px;
}

.checkout-product-info {
  margin: 0 auto;
  width: 250px;
}
